<html>
    
    <body>
        <div>
            <img src="assets/images/Pinacolada_Cake.jpg">
            <h1>Pinacolada</h1>
            <p>Pineapple flavoured three layer eggless cake layered with mint and lemon flavoured frosting with pieces of pineapple.
                Originally is without alcohol. Can be infused with alcohol on request :)
                Color of the cake can be customised.
            </p>
            <input type="text" placeholder="Message on the cake">
        </div>
    </body>
</html>
