<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <div class="favItems">
    <div class="favItemsDiv">
        
      <figure>
        <a><img class="img-responsive center-block" src="assets/images/blueberry_muffins2.jpeg" alt=""  /></a>
      </figure>
      <div style="display: inline;">
      <figcaption class="item-name">Blueberry Oatmeal muffins</figcaption>
      <h4 class="price">Eur 25</h4>
    </div>
    <span><button class="close">&times;</button></span>
    </div>
    <div class="favItemsDiv">
        <figure>
          <a><img class="img-responsive center-block" src="assets/images/blueberry_muffins2.jpeg" alt=""  /></a>
        </figure>
        <div style="display: inline;">
        <figcaption class="item-name">Muffins</figcaption>
        <h4 class="price">Eur 25</h4>
    </div>
      </div>
  </div>
</html>
