/* Prodcuts
div li a figure{
    display: block;
    float:left;
    margin:10px;
    padding:20px;
    text-align: center;
    color:black;
    
  }
  div li a figure:hover{
    background-color:rgb(246, 213, 218);
  } */
  :host {
    display: grid;
    float:left;
    margin:10px;
    padding:64px;
    text-align: center;
    color:black;
  }
  :host:hover{
    background-color:rgb(246, 213, 218);

  }
img{
    width:  300px;
    height: 300px;
    object-fit:cover;
}

.item-name{
    font-size: 1em;
    flex: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-decoration: rgb(201, 139, 245);
    text-align: left;
    padding-top: 0px;
  }
  .item-name:hover{
      font-style: italic;
      text-underline-position: under;
      cursor: pointer;
  }
  /* :host(.medium-movies) {
    border-color: #53ace4;
  }
  :host(.medium-movies) > h2 {
    color: #53ace4;
  }
  :host(.medium-series) {
    border-color: #45bf94;
  }
  :host(.medium-series) > h2 {
    color: #45bf94;
  } */
#price{
    font-size: 1.1em;
    flex: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    padding-top: 0px;
    font-weight: bold;
    color:mediumpurple;
  }
.favorite{
    width: 24px;
    height: 24px;
    cursor: pointer;
    float:left;
    fill: rgb(143, 79, 143)
  }

  .favorite.is-favorite {
    fill:rgb(192, 87, 87) ;
  }
  .favorite.is-favorite-hovering {
    width: 27px;
    height: 27px;
  }

.cart{
    width: 30px;
    height:30px;
    cursor: pointer;
    fill:rgb(85, 66, 197) ;
    float:right;
}
.cart:hover{
    fill:mediumslateblue;
}

.favButton{
  background-color: transparent;
  border-color: transparent;
  border-style: hidden;
  float : left;
}
  /* .favorite.is-favorite {
      fill: #37ad79;
  }
  .favorite.is-favorite-hovering {
      fill: #45bf94;
  }
  .favorite.is-favorite.is-favorite-hovering {
      fill: #ec4342;
  } */
  .details {
    display: block;
    background-color: #37ad79;
    padding: 4px;
    font-size: .8em;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
  }