<div style="padding:0px 200px 0px 200px;
background-color:rgb(251, 200, 182);">
  <nav class="navbar navbar-expand-sm fadeInDown clearfix" id="navbar">
    <ul style="list-style-type:none" class="navbar-nav hoverMenuWrapper hidden-xs">
      <li class="nav-item"><a class="nav-link flex-item" routerLink='' routerLinkActive="active" >Home</a></li>
      <li class="nav-item"><a class="nav-link flex-item"  routerLinkActive="active" routerLink="/cakes">Cakes</a></li><!--[routerLink]='[{outlets:{products:["cakes"]}}]'-->
      <li class="nav-item"><a class="nav-link flex-item" routerLink='/cupcakes' routerLinkActive="active" >Cupcakes</a></li>
      <li class="nav-item"><a class="nav-link flex-item" href="/giftcombo">Gift combo</a></li>
      <li class="nav-item"><a class="nav-link flex-item" href="/about">About Us</a></li>
    </ul>
  </nav>
</div>