<header class="header">
<div class="dropdown-container">
    <div class="dropdown">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="dropdown-toggle"
        data-toggle="dropdown"
        ng-mouseenter="status.isopen = true"
        aria-haspopup="true"
        aria-expanded="false"
        viewBox="0 0 24 24"
        matTooltip="Login or Register"
      >
        <path
          d="M12 2c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12S6.48 2 12 2zM6.023 15.416C7.491 17.606 9.695 19 12.16 19c2.464 0 4.669-1.393 6.136-3.584A8.968 8.968 0 0 0 12.16 13a8.968 8.968 0 0 0-6.137 2.416zM12 11a3 3 0 1 0 0-6a3 3 0 0 0 0 6z"
        />
      </svg>
      <div class="dropdown-menu">
        <label class="dropdown-item">Email Address:</label
        ><input type="email" class="form-control dropdown-item" required />
        <label class="dropdown-item">Password:</label
        ><input type="password" class="form-control dropdown-item" required />
        <button class="btn dropdown-item" id="#loginbtn">Login</button>
        <button
          class="btn dropdown-item"
          (click)="OnSignUp()"
          routerLink="SignUp"
        >
          Create an account
        </button>
        <a href="#" class="dropdown-item" id="ForgotPass">Forgot password?</a>
      </div>
    </div>
  </div>
  <div class="titlenamediv middle-logo-blocks middle-block logo-menu-wrapper">
    <img id="logo" src="assets/images/logo1.jpg" style="display: inline" />
    <h1 id="title" style="display: inline">The Cake Booth</h1>
    <input
      class="flex-item"
      type="text"
      id="search_box"
      placeholder="Search"
    />
    <div id="svgIcons">
      <a
        routerLink="/favItems"
        routerLinkActive="active"
        (click)="getFavItems()"
      >
        <mat-icon
          id="FavIcon"
          class="favorite"
          matBadge="3"
          matBadgeColor="accent"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            matTooltip="Wishlist"
          >
            <path
              d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5C2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
            /></svg></mat-icon
      ></a>
      <mat-icon
        matBadge="3"
        class="cart"
        matTooltip="Go to cart"
        matBadgeColor="accent"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          focusable="false"
          width="1em"
          height="1em"
          style="
            -ms-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
          "
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 512 512"
        >
          <path
            d="M372 160v-12A116.13 116.13 0 0 0 258.89 32h-5.78A116.13 116.13 0 0 0 140 148v12H52a4 4 0 0 0-4 4v300a16 16 0 0 0 16 16h384a16 16 0 0 0 16-16V164a4 4 0 0 0-4-4zm-40 0H180v-11c0-41.84 33.41-76.56 75.25-77A76.08 76.08 0 0 1 332 148z"
          /></svg></mat-icon>
      <div>
        <div class="dropdown" id="langDropdown">
          <mat-icon class="language"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              id="langIcon"
              class="dropdown-toggle"
              data-toggle="dropdown"
              ng-mouseenter="status.isopen = true"
              viewBox="0 0 30 30"
              matTooltip="Change language"
            >
              <path
                d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm6.93 6h-2.95a15.65 15.65 0 0 0-1.38-3.56A8.03 8.03 0 0 1 18.92 8zM12 4.04c.83 1.2 1.48 2.53 1.91 3.96h-3.82c.43-1.43 1.08-2.76 1.91-3.96zM4.26 14C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2c0 .68.06 1.34.14 2H4.26zm.82 2h2.95c.32 1.25.78 2.45 1.38 3.56A7.987 7.987 0 0 1 5.08 16zm2.95-8H5.08a7.987 7.987 0 0 1 4.33-3.56A15.65 15.65 0 0 0 8.03 8zM12 19.96c-.83-1.2-1.48-2.53-1.91-3.96h3.82c-.43 1.43-1.08 2.76-1.91 3.96zM14.34 14H9.66c-.09-.66-.16-1.32-.16-2c0-.68.07-1.35.16-2h4.68c.09.65.16 1.32.16 2c0 .68-.07 1.34-.16 2zm.25 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95a8.03 8.03 0 0 1-4.33 3.56zM16.36 14c.08-.66.14-1.32.14-2c0-.68-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2h-3.38z"
              /></svg></mat-icon>
          <div
            class="dropdown-menu dropdown-menu-right"
            id="langDropdownMenu"
          >
            <label
              ><a href="#" class="dropdown-item" id="langDropdownItem"
                >English</a
              ></label
            >
            <label
              ><a href="#" class="dropdown-item" id="langDropdownItem"
                >Deutsch</a
              ></label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>