<!doctype html>
<html>

<body>
    <main>
        <br />
        <h3 id="SuccessMessageDiv"></h3>
        <form [formGroup]="formVar" (ngSubmit)="onSubmit()" class="form-group">
            <div id="signupForm">
                <label class="radio-inline"><input formControlName="radAnswer" class="form-control" type="radio"
                        name="radAnswer" value="Mr."> Mr. </label>
                <label class="radio-inline"><input formControlName="radAnswer" class="form-control" type="radio"
                        name="radAnswer" value="Mrs."> Mrs. </label>
                <label class="radio-inline"><input formControlName="radAnswer" class="form-control" type="radio"
                        name="radAnswer" value="Ms."> Ms. </label>
                <br />
                
                <label>First Name:</label>
                <input formControlName="fname" class="form-control" type="text" id="fname">
                <br />
                <label>Last Name:</label>
                <input formControlName="lname" class="form-control" type="text" id="lname">
                <br />
                <label>Email:</label>
                <input formControlName="email" class="form-control" id="email" type="email" required>
                <br />
                <label>Password:</label>
                <input formControlName="pwd" class="form-control" type="password" id="password">
                <br />
                <label>Date of Birth:</label>
                <input type="date" formControlName="dob" class="form-control" placeholder="">
                <br />
                <span><input type="checkbox" class="form-control" checked><label
                        id="checkboxLabel">&nbsp;Notify&nbsp;me&nbsp;about&nbsp;new&nbsp;offers</label></span>
                <br />
                <button class="btn" type="submit">Sign Up</button>
            </div>
        </form>
    </main>
</body>

</html>